@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Poppins&display=swap');

:root{
    --main-color: rgb(0, 13, 157);
    --main-color-light: rgb(28, 46, 244);
}
html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 10px;
    z-index: 5;
    margin: 1rem;
    background-color: #1b1b1b;
    border: 1px solid rgb(64, 64, 64);
    outline: 0;
}
.menu .btn{
    border: 1px solid rgb(64, 64, 64);
}

.menu ul{
    background-color: #1b1b1b;
    border: 1px solid rgb(64, 64, 64);
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    color: white;
    background-color: #000000;
}

.menu:hover{
    background-color: rgb(42, 42, 42);
}

.menu:focus{
    box-shadow: 0px 0px 2px 2px var(--main-color);
}

.page {
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

header {
    height: 100vh;
    width: 100%;
}

header img {
    width: 18rem;
    height: 18rem;
}

header h5 {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;
}

.background-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("images/space2.jpg");
    background-size: cover;
    background-position: bottom;
    filter: brightness(0.5);
    background-repeat: no-repeat;
}

.content section {
    min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #747474;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.lead {
    color: #757575;
}

.progress-bar {
    background-color: var(--main-color-light);
}

.progress {
    background-color: #555;
}

/* Timeline */
.single-timeline{
    position: relative;
}

.timeline-line::after {
    position: absolute;
    width: 3px;
    height: 100%;
    content: "";
    background-color: #ebebeb;
    top: 0;
    right: 0;
    z-index: 1;
}

.timeline-line::before {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--main-color-light);
    content: "";
    top: 50%;
    right: -4px;
    z-index: 5;
    margin-top: -5.5px;
}

.timeline-date{
    position: relative;
    height: 100%;
}

.timeline-date p{
    margin-bottom: 0;
    white-space: nowrap;
}


.timeline-icon {
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    flex: 0 0 30px;
    text-align: center;
    max-width: 30px;
    border-radius: 50%;
    margin-right: 15px;
}

.timeline-icon i {
    color: #ffffff;
    line-height: 30px;
}

.timeline-text p {
    font-size: 13px;
    margin-bottom: 0;
}

.timeline-text a{


  -ms-word-break: break-all;

  word-break: break-all;


}

.single-timeline-content:hover .timeline-icon,
.single-timeline-content:focus .timeline-icon {
    background-color: var(--main-color-light);
}

.timeline-date-inside{
    display: none;
}

.single-timeline .card{
    width: 400px !important;
}

@media only screen and (max-width: 1400px) {
    .single-timeline .card{
        width: 300px !important;
    }
  }
@media only screen and (max-width: 1200px) {
    .single-timeline .card{
        width: 600px !important;
    }
  }
  @media only screen and (max-width: 830px) {
    .single-timeline .card{
        width: 400px !important;
    }
  }
  @media only screen and (max-width: 710px) {
    .single-timeline .card{
        width: 350px !important;
    }
  }
  @media only screen and (max-width: 600px) {
    .timeline-date{
        display: none !important;
    }
    .timeline-date-inside{
        display: block;
    }
    .single-timeline .card{
        width: auto !important;
        flex-grow: 1;
    }
  }
 
#contact {
    position: relative;
    background-image: url("images/space.jpg");
    background-repeat: none;
    background-size: cover;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-panel {
    background: rgba(47, 47, 47, 0.3);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(29, 29, 29, 0.3);
}

.contact-panel input, .contact-panel textarea{
    background-color: #1c1c1c74;
    border: solid rgb(68, 68, 68) 1px;
    outline: none;
    box-shadow: none;
}

.contact-panel input:focus, .contact-panel textarea:focus{
    background-color: #10101074;
    box-shadow: 0px 0px 2px 2px var(--main-color);
    border: solid rgb(68, 68, 68) 1px;
}

.contact-panel textarea{
    max-height: 350px;
}